# Importing Libraries

In [57]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [58]:
import numpy as np
import pandas as pd
import random
# Create a synthetic dataset with 300 records
np.random.seed(42)
data_size = 200
age = np.random.randint(21, 75, size=data_size)  # Customer age
salary = np.random.randint(25000, 150000, size=data_size)  # Annual income
buy_product = np.random.randint(0, 2, size=data_size)  #

In [61]:
df = pd.DataFrame({
    'age': age,
    'salary': salary,
    'buy_product': buy_product
})

In [63]:
df
# Features and target variable
X = df[['age', 'salary']]
y = df['buy_product']

In [64]:
X

     age  salary
0     59   55080
1     72   91842
2     49   86373
3     35   31776
4     63  117787
..   ...     ...
195   31   28436
196   48   99290
197   45  101213
198   59   30895
199   53   44738

[200 rows x 2 columns]